[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "*"
scipy = "*"
librosa = "*"
google-cloud-storage = "*"
tensorflow = "==1.14"

[requires]
python_version = "3.7"
